.NavCont{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 89px;
    backface-visibility: hidden;
    background: #01b2ee;
    color: #fff;
}

.logo {

    flex: 1 1 50%;
    text-align: left;
    padding-left: 9px;
}

.BDropList{
    display: flex;
    font-size: 20px;

}
.dropList{
    position: absolute;
    top: 89px;  
    padding: 0;
    border: 1px solid #dce3ed;
    background: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    z-index: 99;
    min-width: 290px;
    line-height: 1;
    
}
.disappear{
    display: none;
}
.right{
    display: flex;
    margin-bottom: 0;
  
    width: 100%;
    padding: 0px;

}

.Rli{
    margin-left: 5%;
    list-style: none;
    display: flex;

  
}
.secondPart{
    flex: 1 1 20%;
    display: flex;
    align-items: center;
}

.lefLi{
    list-style: none;
    text-align: left;
}

.RUL{
   
    position: absolute;
    top: 89px;  
    padding: 0;
    border: 1px solid #dce3ed;
    background: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
    z-index: 99;
    min-width: 290px;
    line-height: 1;
    right: 232px;
}

.SB{
    display: flex;
}

.Icon{
    width: 2em;
    height: 2em;
    color: #fff;
   
}

.lefLi , .Rli{
    font-size: 20px;
 
   
}
button{
    background: none;
    border: 0cm;
color: #fff;
}
.lefLi{
    
   
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(192,192,192 , 30%);
    height: 60px;
    width: 308px;
   
}

a{
    text-decoration: none;
    color: #4f5864;
}

 .lefLi:hover{
    cursor: pointer;
    background-color:   rgb(192,192,192 , 30%);
    color: #01b2ee;
   
}
