.NavCont{
    display: flex;

}

.logo {
    background-color: aqua;
    flex: 0 1 50%;
    text-align: left;
    padding-left: 9px;
}

.BDropList{
    display: flex;

}
.dropList{
    position: absolute;
    top: 7%;
}
.disappear{
    display: none;
}
.right{
    display: flex;
    margin-bottom: 0;
    background-color: beige;
    width: 100%;

}

.Rli{
    margin-left: 10%;
    list-style: none;
    display: flex;

  
}
.secondPart{
    flex: 1 1 20%;
    display: flex;
    align-items: center;
}

.lefLi{
    list-style: none;
    text-align: left;
}

.RUL{
    position: absolute;
    top: 7%;
}

.SB{
    display: flex;
}

.Icon{
    width: 25px;
    height: 25px;
}