.NavCont{
    display: flex;

}

.logo{
    background-color: aqua;
    flex: 1 1 50%;
    text-align: left;
    padding-left: 9px;
}

.BDropList{
    display: flex;

}
.dropList{
    position: absolute;
    top: 7%;
}
.disappear{
    display: none;
}
.right{
    display: flex;
}

.Rli{
    margin-left: 20%;
    list-style: none;
    display: flex;
  
}
.secondPart{
    flex: 0 1 20%;
    display: flex;
    align-items: end;
}

.lefLi{
    list-style: none;
    text-align: left;
}

.RUL{
    position: absolute;
    top: 7%;
}